# Python virtual environment
venv/
env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# Model files
*.pt
*.pth
*.weights
*.bin
*.param
*.torchscript

# Training outputs
runs/ 